.report-container {
    background-color: white;
    width: 100vw;
    height: 100vw;
}

.summary-container {
    h1 {
        padding-top: 40px;
        padding-left: 100px;
        font-weight: bold;
    }

    h2 {
        padding-top: 30px;
        padding-left: 100px;
        font-weight: bold;
    }

    li {
        padding-left: 140px;
        font-size: 22px;
    }

    a {
        font-size: 22px;
        font-weight: 600;
        color: black;
        &:hover {
            color: #ae8b63;
        }
    }
}