.subdomain-container {
  background-color: white;
  padding: 30px 100px;

  h2 {
    font-weight: 600;
  }

  h3 {
    font-weight: 500;
  }

  .total {
    font-size: 22px;
    color: red;
    font-weight: 600;
  }

  .each-sub-container {
    margin-top: 20px;

    .subdomain {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 20px;
      font-weight: 600;
      margin-top: 20px;

      .left {
        width: 100px;
      }

      .right {
        color: red;
      }
    }
  }

  #graph-container {
    position: relative;
    border: 1px solid #c3c3c3;
  }

  thead {
    background-color: #f7ecd5;
  }

  th {
    font-size: 22px;
    border: 2px solid #b9b9b9;
  }

  td {
    font-size: 20px;
    border: 2px solid #b9b9b9;
  }

  .source {
    font-size: 20px;
    font-weight: 600;
  }

  .collapse-link {
    font-size: 22px;
    font-weight: 600;
    color: black;
    &:hover {
      color: #ae8b63;
    }
  }

  i {
    margin-right: 5px;
  }
}
