.subdomain-container {
    background-color: white;
    padding: 30px 100px;

    h2 {
        font-weight: 600;
    }

    .total {
        font-size: 22px;
        color: red;
        font-weight: 600;
    }

    .each-sub-container {
        margin-top: 20px;
        
        .subdomain {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            font-size: 20px;
            font-weight: 600;
            margin-top: 20px;
            
            .left {
                width: 100px;
            }
    
            .right {
                color: red;
            }
        }
    }

    thead {
        background-color: #F7ECD5;
    }

    th {
        font-size: 22px;
        border: 2px solid #B9B9B9;
    }

    td {
        font-size: 20px;
        border: 2px solid #B9B9B9;
    }

    .source {
        font-size: 20px;
        font-weight: 600;
    }

    .collapse-link {
        font-size: 22px;
        font-weight: 600;
        color: black;
        &:hover {
            color: #ae8b63;
        }
    }

    i {
        margin-right: 5px;
    }
}