.tech-container {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    background-color: white;
}

.tech-container thead {
    background-color: #F7ECD5;
}

.tech-container tr {
    border: 2px solid #B9B9B9;
}

.tech-container th {
    font-size: 22px;
}

.tech-container td {
    width: 500px;
    font-size: 18px;
}

.tech-container table {
    margin-top: 20px;
}