.tech-container {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    background-color: white;

    table {
        margin-top: 20px;
    }

    thead {
        background-color: #F7ECD5;
    }

    tr {
        border: 2px solid #B9B9B9;
    }

    th {
        font-size: 22px;
    }

    td {
        width: 500px;
        font-size: 20px;
    }

    h2 {
        font-weight: 600;
    }
}